.el-menu {
  background: transparent !important; 
  border-bottom: none !important;
  .el-menu-item {
    background: transparent !important;
  }
  .el-sub-menu__title:hover {
    background: transparent !important;
  }
}